<div [hidden]="sucess" class="container"> 
    <div >
        <div class="wrapper">
            <div class="typing-demo">
                Congrats ,Your pension process   
            </div>
            <div class="typing-demo2">
                is Sucessfull, Have a Great Day !!
            </div>
        </div>
    
    </div>
    </div>
    <div [hidden]="fail" class="container1">
        
        <div class="wrapper1">
            <div class="typing-demo1">
                Sorry!, Your Pension process has been Declined. <br>
                Please Redo the process or Try again after some time.
            </div>
        </div>
    
    </div>

    