 .container{
    background-image: url(https://ak.picdn.net/shutterstock/videos/4055689/thumb/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container1{
    background-image: url(https://wallpaperaccess.com/full/1707976.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
}

  .wrapper {
    height: 100vh;
     /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 41ch;
    animation: typing 2s steps(41);
    white-space: nowrap;
    overflow: inherit;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color:blue;
  }
  .typing-demo2 {
    width: 35ch;
    animation: typing 2s steps(35), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: inherit;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: blue;
  }
  .wrapper1 {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo1 {
    width: 82ch;
    animation: typing 2s steps(82), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: inherit;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: blue;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }