<div fxLayoutAlign="center center" fxFlexFill class="container">
    <mat-card fxFlex="30" class="containerbg">
        <mat-card-title class="flexfill">Pension Details Form</mat-card-title>
<form #pensiondetailsform="ngForm" (ngSubmit)="onSubmit(pensiondetailsform.value)" method="GET" name="pension" id="pension" ngNativeValidate>
    <label for="pensionerName">Name</label>
    <input type="text" class="form-control" name="pensionerName" ngModel placeholder="username" required=""/>
    <label for="pan">Pan</label>
    <input type="text" class="form-control" name="pan" ngModel placeholder="pan" required=""/>
    <label for="aadharNumber">Aadhaar</label>
    <input type="text" class="form-control" name="aadharNumber" ngModel placeholder="aadhar" required=""/>
    <label for="pensionerDob">Date</label>
    <input type="date" class="form-control" name="pensionerDob" ngModel placeholder="date" required=""/>
    <br>
    <label for="pensionType">Pension Type</label><br>
     <mat-form-field appearance="fill">
        <mat-label>PensionType</mat-label>
        <mat-select name="pensionType" id="typeOfPension" ngModel>
          <mat-option value="Family">Family pension</mat-option>
          <mat-option value="Self">Self pension</mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="error" class="error" >
        <mat-card class="warn">
        <span class="text">{{message}}</span>
        <!-- {{ error }} -->
    </mat-card>
    </p>
    <br>
    <div class="flexfill">
    <button mat-raised-button type="submit" value="Submit" class="btn btn-info">Submit</button>
</div>
</form>
</mat-card>
</div>
